@keyframes slideInLeft {
    from, 0% {
        transform: translateY(500px);
        opacity: 0;
    }

    to, 100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f0;
}

.App {
    max-width: 100%;
}

.dots {
    max-width: 100%;
    height: 40vh;
    padding: 1px;
    background-color: rgba(230, 240, 255, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 8px;
    opacity: 0.8;
    background-image: radial-gradient(#000000 1.5px, #fff8f0 1.5px);
    background-size: 10px 10px;
}

input {
    border: 0px;
}

header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    box-shadow: none;

}

header h1 {
    margin: 0;
    color: #756363;
    animation: slideInLeft 2s ease 0s;
}

header p {
    margin-top: 5px;
    color: #666;
    margin-bottom: 7%;
    animation: slideInLeft 2.5s ease 0s;
}

header button, a {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #756363;
    margin-bottom: 15%;
    border-radius: 10px;
    text-decoration: none;
    text-underline: none;
}

header img {
    width: 40px;
    height: 40px;
    filter: invert(38%) sepia(4%) saturate(1421%) hue-rotate(314deg) brightness(104%) contrast(93%);
    margin-right: 10px;
    margin-left: 10px;
    animation: slideInLeft 3s ease 0s;
    transition: transform 0.3s ease 0s;
}

header img:hover {
    background: #dbdbdb;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    transform: translateY(-10px);
}

.insta:hover {
    border-radius: 11px;
    transform: translateY(-10px);
}

.references {
    margin-bottom: 7%;
    border-radius: 10px;
    font-family: "Courier New", sans-serif;
    text-align: center;
}



.references a:hover {
    background: none;
}

table {
    max-width: 816px;
}

footer {
    margin-top: 10px;
    text-align: center;
    color: #666;
}

.habitBuilder {
    background: #fff8f0;
    margin: auto;
    padding-top: 35px;
    background-image: url("wavesNegative.svg") ;
    background-size: 150% 66%;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.theButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border-radius: 10px;
}

.theButtons button,a {
    width: 23px;
    border-radius: 10px;
    max-width: 23px;
    text-align: center;
}

.theButtons button:hover, a:hover {
    background: #dbdbdb;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.themes {
    width: 100%;
    margin: auto;
    font-family: "Courier New", sans-serif;
    font-size: 20px;
    text-align: center;
}

.iconRadio {
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-flex;
    margin-right: 20px;
}

/* HIDE RADIO */
[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

.habitBuilder input {
    margin-bottom: 35px;
}


.legend label {
    font-family: "Courier New", sans-serif;
    font-size: 30px;
    margin-left: 15%;
    text-align: center;
}

.legend input {
    width: 200px;
    height: 20px;
    margin-left: 15px;
    border-radius: 5px;
    margin-bottom: 6%;
    vertical-align: 7px;
}

.habitBuilder p {
    text-align: center;
}

.habitPaper {
    background-color: white;
    width: 816px;
    height: 1056px;
    max-width: 816px;
    max-height: 1056px;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    border: 2px solid black;
    padding: 0px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.habitPaper input {
    font-family: "Courier New", sans-serif;
}

td {
    border: 2px solid black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 408px;
    max-width: 408px;
    max-height: 117.333333px;
    padding: 0px;
}


.weeks {
    width: 816px;
    max-width: 816px;
    height: 117.333333px;
    border: 1px solid #5B5050;
    max-height: 117.333333px;
}


.weeks h1 {
    font-size: 15px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 9px;
    height: 6px;
}

.legend {
    width: 816px;
    height: 229.98px;
    border: 2px solid #5B5050;
    max-width: 816px;
    text-align: center;
}

.legend td {
    width: 408px;
    max-width: 40px;

}

.legend h1 {
    font-size: larger;
    max-width: 408px;
    text-align: center;
}

.buttons {
    text-align: center;
    margin: auto;
}

.circled {
    font-size: 24px;
    margin: auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    display:inline-block;
}

.squared {
    font-size: 24px;
    margin: auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 20px;
    width: 20px;
    border: 2px solid black;
    display:inline-block;
}

.triangled {
    font-size: 28px;
    font-weight: bold;
    font-family: "Courier New", sans-serif;
    margin: auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

span {
    width: 8%;
    max-width: 407px;
}

Circle {
    max-width: 407px;
}

.rowOne {
    border-bottom: 1px dashed #5B5050;
}

.buttons button, a {
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 11px;
    cursor: pointer;
    background: none;
    border: none;
    text-align: center;
}

.legend-input:hover {
    background: #eaeaea;
    border-radius: 5px;
}

.legend-input:focus-visible {
    outline: 0;
}

.habit-row {
    display: flex;
    height: 29px;
    width: 408px;
    margin: auto;
    text-align: center;
    max-width: 407px;
}

.fontMenu {
    font-family: "Arial", sans-serif;
    margin: auto;
    text-align: center;
    user-select: none;
}

.IB img{
    height: 20px;
    width: 20px;
    filter: invert(38%) sepia(4%) saturate(1421%) hue-rotate(314deg) brightness(104%) contrast(93%);
}

select {
    background: #fff8f0;
    border-radius: 100px;
    text-align: center;
    color: #756363;
}

.alignImages {
    width: 30px;
    height: 30px;
    filter: invert(38%) sepia(4%) saturate(1421%) hue-rotate(314deg) brightness(104%) contrast(93%);
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10%;
}

.alignImages:hover {
    width: 30px;
    height: 30px;
    background: #dbdbdb;
    border-radius: 7px;
}

.PDFButton {
    margin: auto;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 2%;
}

.downloadPdf {
    border: 3px solid #756363;
    border-radius: 100px;
    font-family: Arial, sans-serif;
    color: #756363;
    font-size: 20px;
    padding: 8px;
    background: #fff8f0;
    text-decoration: none;
}

.downloadPdf:hover {
    background: #756363;
    color: #fff8f0;
    text-decoration: none;
    transition: background-color 250ms;
}