body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f0;

}

.App {


}

.dots {
  max-width: 100%;
    height: 40vh;
  padding: 1px;
  background-color: rgba(230,240,255,0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  border-radius: 8px;
  opacity: 0.8;
  background-image: radial-gradient(#000000 0.95px, #fff8f0 0.95px);
  background-size: 10px 10px;

}


header {
  text-align: center;
  font-family: 'Courier New', sans-serif;
  font-size: 30px;
  box-shadow: none;
}

header h1 {
  margin: 0;
  color: #756363;
}

header p {
  margin-top: 5px;
  color: #666;
    margin-bottom: 10%;
}

header button {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #756363;
  margin-bottom: 150px;
}


footer {
  margin-top: 10px;
  text-align: center;
  color: #666;
}

.habitBuilder {
background: #fff8f0;
 margin-left: 15%;
  padding-top: 35px;
}

.habitBuilder label {
  font-family: "Courier New", sans-serif;
  font-size: 20px;
  margin-left: 20%;
}

.habitBuilder input {
  margin-bottom: 35px;
  margin-left: 6%;
}

.habitPaper {
  background-color: white;
  width: 1056px;
  height: 816px;
  outline: 2px solid #5B5050;
  outline-offset: 0px;
}

.dayOne {
  width: 528px;
  height: 116.5714px;
  outline: 2px solid #5B5050;
}

.dayTwo {
  width: 528px;
  height: 116.5714px;
  outline: 2px solid #5B5050;
}

.dayThree {
  width: 528px;
  height: 116.5714px;
  outline: 2px solid #5B5050;
}

.dayFour {
  width: 528px;
  height: 116.5714px;
  outline: 2px solid #5B5050;
}

.dayFive {
  width: 528px;
  height: 116.5714px;
  outline: 2px solid #5B5050;
}

.daySix {
  width: 528px;
  height: 116.5714px;
  outline: 2px solid #5B5050;
}

.daySeven {
  width: 528px;
  height: 116.5714px;
  outline: 2px solid #5B5050;
}

.dayEight {
  width: 528px;
  height: 116.5714px;
  outline: 2px solid #5B5050;
  float: right;
  display: inline-block;
}