@keyframes popup-expand {
    from, 0% {
        opacity: 0%;
    }

    to, 100% {
        opacity: 100%;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: popup-expand 0.5s ease 0s;
}

.popup-inner {
    position: absolute;
    padding: 16px;
    width: 100%;
    max-width: 640px;
    height: 600px;
    background-color: #fff8f0;
    border-radius: 20px;
    border: 5px solid #756363;
    background-image: url("popup-wave.svg");
    background-repeat: no-repeat;
    background-size: 950px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 25px;
    height: 0px;
    width: 0px;
    color: #fff8f0;
}

.button-group {
    margin-bottom: 20px;
}

.button-group button {
    background-color: #756363;
    color: #fff8f0;
    padding: 0;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.red-span {
    color: red;
}

.section2-p {
    margin-bottom: 15px;
}

.section3-p {
    margin-bottom: 15px;
}

.popup-quote, .popup-quote-author {
    margin-bottom: 1px;
}

.popup-quote-author {
    margin-left: 120px;
}

.bold {
    color: darkslategray;
}

.popup-img {
    height: 220px;
    width: 100px;
    margin-bottom: 20px;
    -webkit-user-drag: none;
}

.themes-img {
    height: 52px;
    width: 323px;
    -webkit-user-drag: none;
}

.tracker-img {
    height: 349px;
    width: 608px;
    outline: .5px solid black;
    -webkit-user-drag: none;
}

.habit-tracker-ereader-img {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    border: 3px solid black;
    margin-bottom: 15px;
    -webkit-user-drag: none;
}

/* Arrow flip animation along X-axis */
.steps-btn.flipped {
    transform: rotateX(180deg);
    transition: transform 500ms;
}

.close-btn:hover {
    cursor: pointer;
}

/* Section animation */
.animated-section {
    animation: fadeIn 500ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    margin-top: 20px;
    color: #756363;
}

h2 {
    color: #fff8f0;
    margin-bottom: 30px;
}

p {
    color: #756363;
    font-weight: bold;
    max-width: 508px;
    margin: auto;
    margin-bottom: 20px;
}